/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: poppins;
  src: url('../assets/Poppins-Medium.ttf');
}

body {
  background-color: #08110b;
  font-family: poppins;
}

.button {
  transition: scale 0.05s linear;
  scale: 1;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

.button:hover {
  scale: 1.05;
}
.button:active {
  scale: 1.15;
}

input[type='checkbox'] {
  appearance: none;
  border: rgba(255, 255, 255, 0.5) solid 0.15rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 0.2rem;
  position: relative;
}

input[type='checkbox']:checked::after {
  content: '';
  position: absolute;
  background: white;
  width: 60%;
  height: 60%;
  border-radius: inherit;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  transition: width 0.2s;
}