RewriteOptions inherit

RewriteEngine On

## share links, replace with your own server

# lists
RewriteCond %{REQUEST_URI} ^/gdlists/l/([^/]+)$
RewriteRule ^ https://gamingas.cz/gdlists/api/s.php?r=0&id=%1 [L,R=301]

# reviews
RewriteCond %{REQUEST_URI} ^/gdlists/r/([^/]+)$
RewriteRule ^ https://gamingas.cz/gdlists/api/s.php?r=1&id=%1 [L,R=301]

# routing
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /gdlists/index.html [L]

## environment vars, fill these out

# database credentials
SetEnv DB_HOSTNAME
SetEnv DB_USERNAME
SetEnv DB_PASSWORD
SetEnv DB_NAME

# set up an app in discord dev portal
SetEnv DC_CLIENT_ID
SetEnv DC_CLIENT_SECRET

# can be a random string
SetEnv SECRET
