/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: poppins;
  src: url("../assets/SchibstedGrotesk-VariableFont_wght.ttf");
}

@keyframes navbarSlide {
  0% {
    translate: 0;
  }
  50% {
    translate: 0 -100%;
  }
  100% {
    translate: 0;
  }
}

:root {
  --siteBackground: #08110b;
  --primaryColor: #045124;
  --secondaryColor: #142019;
  --brightGreen: #71d471;
}

nav {
  animation: navbarSlide 0.3s linear;
}

body {
  background-color: var(--siteBackground);
  font-family: poppins;
  transition: background-color 0.3s;
}

.button {
  transition: scale 0.05s linear;
  scale: 1;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

.button:hover {
  scale: 1.05;
}
.button:active {
  scale: 1.15;
}

input[type="checkbox"] {
  appearance: none;
  border: rgba(255, 255, 255, 0.5) solid 0.15rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 0.2rem;
  position: relative;
  vertical-align: middle;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

.focusOutline:focus-visible {
  outline: auto;
}
input[type="checkbox"]:focus-visible {
  outline: auto;
}

input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  background: white;
  width: 60%;
  height: 60%;
  border-radius: inherit;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  transition: width 0.2s;
}

.disabled {
  opacity: 0.2;
  filter: grayscale(100%);
}

dialog {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: saturate(0);
}

.slider::-moz-range-thumb {
  background: #4d6c4f;
  border: none;
  box-shadow: black 0px 0px 7px;
  transform: scale(1.2);
  transition: transform 0.2s;
}
.slider::-moz-range-track {
  background: #ffffff1c;
  height: 0.4em;
  border-radius: 2em;
}
.slider::-moz-range-progress {
  background: linear-gradient(9deg, #54c14b, #31fda7);
  height: 0.4em;
  border-radius: 2em;
}
.slider::-moz-range-thumb:hover {
  transform: scale(1.25);
  cursor: pointer;
}
.slider::-moz-range-thumb:active {
  transform: scale(1.4);
}
.slider {
  background: none;
}
