/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: poppins;
  src: url("../assets/SofiaSans-VariableFont_wght.ttf");
}

@keyframes navbarSlide {
  0% {
    translate: 0;
  }
  50% {
    translate: 0 -100%;
  }
  100% {
    translate: 0;
  }
}

.slidingNavbar {
  animation: navbarSlide 300ms;
}

:root {
  --siteBackground: #08110b;
  --primaryColor: #045124;
  --secondaryColor: #142019;
  --brightGreen: #71d471;
}

body {
  @apply bg-lof-100 transition-[background-color] duration-300 bg-fixed bg-no-repeat bg-cover font-[poppins] flex flex-col justify-between
}

@media (prefers-reduced-motion: no-preference) {
  .button {
    @apply transition-transform scale-100 outline-none duration-[50ms] ease-linear hover:scale-105 active:scale-110 
  }
}
.button { @apply cursor-pointer}
.button * {@apply pointer-events-none}
.shake {
  animation: shake 0.2s infinite;
}

.selectOutline:focus-visible {
  @apply outline outline-1 outline-white
}

input::placeholder, textarea::placeholder {
  @apply text-gray-400
}

input[type="checkbox"] {
  @apply appearance-none border-white border-opacity-50 border-solid border-[0.15rem] bg-white bg-opacity-20 rounded relative align-middle w-6 h-6 mr-2;
}

input[type="checkbox"]:focus-within:after {
  @apply content-[''] absolute bg-white bg-opacity-30 w-3/5 h-3/5 rounded-sm top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}
input[type="checkbox"]:hover:after {
  @apply content-[''] absolute bg-white bg-opacity-30 w-3/5 h-3/5 rounded-sm top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

input[type="checkbox"]:checked::after {
  @apply content-[''] absolute bg-white w-3/5 h-3/5 rounded-sm top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

input[type="radio"] {
  @apply appearance-none border-white border-opacity-50 border-solid border-[0.15rem] bg-white bg-opacity-20 rounded-full relative align-middle w-6 h-6 mr-2;
}

input[type="radio"]:focus-within:after {
  @apply content-[''] absolute bg-white bg-opacity-30 w-3/5 h-3/5 rounded-full top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}
input[type="radio"]:hover:after {
  @apply content-[''] absolute bg-white bg-opacity-30 w-3/5 h-3/5 rounded-full top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

input[type="radio"]:checked::after {
  @apply content-[''] absolute bg-white w-3/5 h-3/5 rounded-full top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

select {
  @apply px-2 py-1 bg-white bg-opacity-20 rounded-md border-2 border-white border-opacity-40
}

.disabled {
  @apply opacity-20 grayscale
}

dialog {
  @apply fixed top-0 left-0 z-50 min-w-full min-h-full bg-black bg-opacity-80 backdrop-saturate-0
}

.descriptionFade::before {
  content: "";
  width: 100%;
  height: 22px;
  background: linear-gradient(0deg, var(--primaryColor), transparent);
  position: absolute;
  opacity: 0.8;
  bottom: 0;
  left: 0;
  border-radius: inherit;
}

.slider::-moz-range-thumb {
  @apply border-none scale-125 transition-transform duration-200 bg-[#4d6c4f] shadow-lg shadow-black
}
.slider::-moz-range-track {
  @apply bg-black bg-opacity-10 h-2 rounded-full
}
.slider::-moz-range-progress {
  @apply from-[#54c14b] to-[#31fda7] bg-gradient-to-l h-2 rounded-full
}
.slider[data-customcolor="true"]::-moz-range-progress {
  background: var(--col);
  @apply h-2 rounded-full border-black border-4 border-opacity-40 border-solid
}
.slider::-moz-range-thumb:hover {
  @apply scale-[1.25] cursor-pointer
}
.slider::-moz-range-thumb:active {
  @apply scale-[1.4]
}
.slider::-webkit-scrollbar {
  @apply border-none scale-125 transition-transform duration-200 bg-[#4d6c4f] shadow-lg shadow-black
}
.slider {
  @apply bg-none 
}

@keyframes flash {
  0%,
  40%,
  80% {
    filter: brightness(1.5);
    box-shadow: rgb(233, 187, 60) 0px 0px 30px;
    opacity: 1;
  }
  20%,
  60%,
  100% {
    filter: brightness(1);
    box-shadow: rgb(233, 187, 60) 0px 0px 0px;
    opacity: 1;
  }
}

.fadeSlide-enter-active,
.fadeSlide-leave-active {
  transition: opacity 0.15s ease, margin-top 0.15s ease;
}

.fadeSlide-enter-from,
.fadeSlide-leave-to {
  margin-top: -1rem;
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.05s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.slide-enter-active,
.slide-leave-active {
  transition: margin-top 0.1s ease;
}

.slide-enter-from,
.slide-leave-to {
  margin-top: -1rem;
}

@keyframes shake {
  0% { transform: translate(-5px, 0px); }
  25% { transform: translate(-5px, 5px); }
  50% { transform: translate(0px, -5px); }
  75% { transform: translate(0px, 5px); }
  100% { transform: translate(5px, 0px); }
}

#reviewText[data-white-page=true] p,figcaption {
  color: black
}
#reviewText[data-white-page=true] {
  transition: background 0.25s;
  background: #ece6d9 !important;
}

@media print {
  #navbar {@apply hidden}
  #footer {@apply hidden}
  .button img {@apply !invert}
  .descriptionControls {@apply hidden}
  * {text-shadow: none !important; box-shadow: none !important; filter: none !important; font-family: unset !important;}
}

.readabilityMode {
  @apply max-w-[80ch] leading-relaxed text-xl;
}

/* Use when you want regular parsing */
.regularParsing h1 { @apply mt-2 text-2xl}
.regularParsing h2 { @apply mt-1 text-xl}
.regularParsing h3 { @apply text-lg}
.regularParsing li:has(input) { @apply list-none m-[revert] my-2 pl-2}
.regularParsing ul { @apply list-disc list-inside m-[revert] pl-2}
.regularParsing ol { @apply list-decimal list-inside m-[revert] pl-2}
.regularParsing a { @apply underline}
.regularParsing blockquote { @apply border-l-4 border-lof-400 pl-2 bg-black bg-opacity-20 my-1}
.regularParsing img { @apply max-w-48 my-1}
.regularParsing code { @apply font-mono bg-white rounded-md p-1 bg-opacity-10 font-normal}
.regularParsing table,th,td { @apply border border-collapse p-1 border-lof-400}
.regularParsing table { @apply m-1}
.regularParsing hr { @apply border opacity-30 rounded-full my-2}
.regularParsing th { @apply bg-lof-300}

